<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<!-- <span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span> -->
					<h1 class="mb-3 mt-3">Acerca de mi</h1>
					<div class="acerca-mi">
					<p  class="mb-4 pr-5">Me dedico a la salud integral del paciente, a transmitir información esencial para prevenir y curar enfermedades causadas por una mala alimentación y malos hábitos alimenticios</p>
                </div>
                    <div class="btn-container ">
						<a routerLink="/about"  class="btn btn-main-2 btn-icon btn-round-full">Ver más <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">

					<div *ngFor ="let serv of _servicioService.servicio"
					style="
					flex-basis: 33.33%;
					border-radius: 15px 15px 15px 15px;"
					>
						<div *ngIf="serv.principal"
						class="feature-item mb-5 mb-lg-0">
							<div class="feature-icon mb-4">
								<i class="icofont-surgeon-alt"></i>
							</div>
							<h4 class="mb-3">{{serv.titulo}}</h4>
							<p  class="mb-4">{{serv.informacion}}</p>
							<a [routerLink]="['/servicios']" fragment="{{serv.id}}"  class="btn btn-main btn-round-full">Leer más</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section service gray-bg" style="padding-top: 50px; padding-bottom: 0px;" id="blogId">
	<div class="container">
		
		
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="">
					<h2>Blog</h2>
					<div class="divider-blog mx-auto my-4"></div>					
				</div>
			</div>
		</div>

		<div class="row">
			
			<div class="row margin-b-30">
			
				<div class="" style="width: 33% !important; padding-left: 15px; padding-right: 15px;">
					<div class="box london">
						<div class="box-icon">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
								<img src="https://instagram.fntr6-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/122160792_1434029723460217_8541673680971496113_n.jpg?_nc_ht=instagram.fntr6-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=WMjzlWMN818AX8hoj4g&tp=1&oh=3001c351e43b78d72b3a17ecd9ec1f97&oe=6041100D" sizes="10px" alt="Image" class="img-responsive">
							</a>
						</div>
						<div class="info float-container">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
							
							<div class="col-sm-12 london-title">
								<h3 class="text-uppercase">Proin gravida nibhvel</h3>
								<h4 class="text-uppercase">mauris vitae erat</h4>
							</div>
							<p style="color: #6F8BA4;">Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p><hr />
						</a>
						</div>
					</div>
				</div>

				<div class="" style="width: 33% !important; padding-left: 15px; padding-right: 15px;">
					<div class="box paris">
						<div class="box-icon">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
								<img src="https://instagram.fntr6-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/122160792_1434029723460217_8541673680971496113_n.jpg?_nc_ht=instagram.fntr6-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=WMjzlWMN818AX8hoj4g&tp=1&oh=3001c351e43b78d72b3a17ecd9ec1f97&oe=6041100D" sizes="10px" alt="Image" class="img-responsive">
							</a>
						</div>
						<div class="info float-container">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
							
							<div class="col-sm-12 london-title">
								<h3 class="text-uppercase">Proin gravida nibhvel</h3>
								<h4 class="text-uppercase">mauris vitae erat</h4>
							</div>
							<p style="color: #6F8BA4;">Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p><hr />
						</a>
						</div>
					</div>
				</div>
				
				<div class="" style="width: 33% !important; padding-left: 15px; padding-right: 15px;">
					<div class="box paris">
						<div class="box-icon">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
								<img src="https://instagram.fntr6-2.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/122160792_1434029723460217_8541673680971496113_n.jpg?_nc_ht=instagram.fntr6-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=WMjzlWMN818AX8hoj4g&tp=1&oh=3001c351e43b78d72b3a17ecd9ec1f97&oe=6041100D" sizes="10px" alt="Image" class="img-responsive">
							</a>
						</div>
						<div class="info float-container">
							<a href="https://www.instagram.com/p/CGqVpSkpbdn/" target="_blank">
							
							<div class="col-sm-12 london-title">
								<h3 class="text-uppercase">Proin gravida nibhvel</h3>
								<h4 class="text-uppercase">mauris vitae erat</h4>
							</div>
							<p style="color: #6F8BA4;">Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p><hr />
						</a>
						</div>
					</div>
				</div>

			</div> <!-- row -->


		</div>
	</div>
</section>