<!-- footer Start -->
<footer class="footer  gray-bg">
	<div class="container " style="border-top: 2px solid rgba(0, 0, 0, 0.171); 
    margin-bottom: 3%; ">
		<div class="row">

            <div class="" style="width: 50%;">
				<div class="widget mb-5 mb-lg-0" style="padding-left: 15px;">
					<h3 class="text-capitalize mb-3">Ponte en contacto:</h3>
					<div class="divider-footer"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="mailto:paoeligo@gmail.com">paoeligo@gmail.com</a></li>
						<li><a href="tel:771-106-3338">771-106-3338</a></li>
					</ul>
				</div>
            </div>
            

            <div class="" style="width: 50%; text-align: end;">
				<div class=" ">
					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://wa.link/p2s169" target="_blank"><i class="icofont-whatsapp"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Novena</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>