
<section class="section-acerca-de-mi" > 
	<div class="container"  >
		<div class="row" >
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block acerca-de-mi" >
					<h1 class="mb-3 mt-3">Hola soy Paola.</h1>
					<div class="acerca-mi">
					<p  class="mb-4 pr-5">Promuevo la importancia de la nutrición desde un enfoque científico, por ello me preparo constantemente con instituciones reconocidas a nivel internacional.
                        Mi objetivo es ayudarte a tener una vida sana que puedas disfrutar.</p>
                </div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="section-acerca-de-mi" id="tuId"> 
	<div class="container"  >
		<div class="row" >
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block acerca-de-mi" >
					<h1 class="mb-3 mt-3">Hola soy Paola.</h1>
					<div class="acerca-mi">
					<p  class="mb-4 pr-5">Promuevo la importancia de la nutrición desde un enfoque científico, por ello me preparo constantemente con instituciones reconocidas a nivel internacional.
                        Mi objetivo es ayudarte a tener una vida sana que puedas disfrutar.</p>
                </div>
				</div>
			</div>
		</div>
	</div>
</section>


